<!DOCTYPE html>
<html>
	<head>
		<title>GrieveBot</title>
	</head>
	<h1>GrieveBot</h1>
	<h2>Requirements in addition to the Arduino</h2>
	<ul>
		<li>
			See README in application root directory for more information.
		</li>
		<li>
			<a href="http://www.sparkfun.com/products/9799" target="_blank">Voice Box Shield</a>
		</li>
		<li>
			<a href="http://www.sparkfun.com/products/9811" target="_blank">TTS256</a>
		</li>
		<li>
			<a href="https://github.com/codymarcel/grievebot" target="_blank">Grievebot source</a>
			<ul>
				<li>
					git clone git://github.com/codymarcel/grievebot.git
				</li>
				<li>
					cd grievebot
				</li>
				<li>
					bundle install
				</li>
			</ul>
		</li>
	</ul>
	<h2>Online retrieval of of the feed for testing purposes.</h2>
	<a href="chatter_feed/feed" target="_blank">Latest Chatter Message</a><br />

	<h2>Wiring up the VoiceBox</h2>
	This article gives a good set of instructions on how to connect the TTS256 text processor.
	<br /> 
	<a href="http://www.sparkfun.com/tutorials/166" target="_blank">Adding the TTS256 to the Voice Box Shield</a>
	<br />	<br />
	These are the images of how we wired it up. They are a little more clear as to where the wires connect.
	<br />
	<%= image_tag("full_unit.jpg", :size => "1000x1000") %>
	<br />
	
	<%= image_tag("top_overview.jpg", :size => "1000x1000") %>
	<br />
	
	<%= image_tag("top_tts256.jpg", :size => "1000x1000") %>
	<br />
	
	<%= image_tag("connectors_on_speakjet.jpg", :size => "1000x1000") %>
</html>