<!DOCTYPE html>
<html>
	<head>
		<title>GrieveBot</title>
	</head>
	<h1>GrieveBot</h1>
	<h2>Requirements in addition to the Arduino</h2>
	<ul>
		<li>
			See README in application root directory for mare information.
		</li>
		<li>
			<a href="http://www.sparkfun.com/products/9799" target="_blank">Voice Box Shield</a>
		</li>
		<li>
			<a href="http://www.sparkfun.com/products/9811" target="_blank">TTS256</a>
		</li>
		<li>
			<a href="https://github.com/codymarcel/grievebot" target="_blank">Grievebot source</a>
			<ul>
				<li>
					git clone git://github.com/codymarcel/grievebot.git
				</li>
				<li>
					cd grievebot
				</li>
				<li>
					bundle install
				</li>
			</ul>
		</li>
	</ul>
	<a href="chatter_feed/feed" target="_blank">Latest Chatter Message</a>

	<a href="http://www.sparkfun.com/tutorials/166" target="_blank">Adding the TTS256 to the Voice Box Shield</a>
</html>